model2-LC-NP/_TARGETWORDS_ filter=lfs diff=lfs merge=lfs -text
/Users/nilo/Desktop/parallelbibles/model2-LC-NP/_TARGETWORDS_ filter=lfs diff=lfs merge=lfs -text
users/nilo/desktop/parallelbibles/model2-lc-np/_targetwords_ filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/NTonly.csv filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/OT-NT.csv filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/when-while.csv filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/when.csv filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/while.csv filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/NTonly-MDS/ filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/when-while-MDS/when-while-wholeor.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/when-while-MDS/when-while.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/when-while-MDS/when-while-MDS.R filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/when-while-MDS/when-while-fuerR.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/when-while-MDS/when-while-rownames.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/when-while-MDS/when-while-whole.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/when-while-MDS/when-while-wholemix.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/when-while-MDS/when-while-colnames.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/when-while-MDS/when-while-nocontext.csv filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/NTonly-MDS/NTonly-colnames.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/NTonly-MDS/NTonly-matrix.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/NTonly-MDS/NTonly-nocontext.csv filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/NTonly-MDS/NTonly-wholeor.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/NTonly-MDS/NTonly.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/NTonly-MDS/NTonly-MDS.R filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/NTonly-MDS/NTonly-rownames.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/NTonly-MDS/NTonly-whole.txt filter=lfs diff=lfs merge=lfs -text
model2-LC-NP/_TARGETWORDS_/NTonly-MDS/NTonly-data.txt filter=lfs diff=lfs merge=lfs -text
